<div class="mat-dialog">

    <form [formGroup]="form" *ngIf="form" (ngSubmit)="submit()">
        <h1 mat-dialog-title class="fw-bold" *ngIf="!this.data">Cadastrar Cartas</h1>
        <h1 mat-dialog-title class="fw-bold" *ngIf="this.data && this.data.card">Editar Cartas</h1>

        <div class="mat-dialog-content">
            
            <div class="row">
                <div class="col-12 col-md-4 mb-2 d-flex justify-content-center">
                    <img id="imgCardOne" width="150px" height="200px">
                </div>
                
                <div class="col-12 col-md-4 mb-2 d-flex justify-content-center">
                    <img id="imgCardTwo" width="150px" height="200px">
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-md-4">
                    <input type="file" class="form-control" name="cardOne" id="cardOne" aria-describedby="inputGroupFileAddon01" accept=".jpg, .jpeg, .png, .svg" (change)="cardOneChange()">
                </div>

                <div class="col-12 col-md-4">
                    <input type="file" class="form-control" name="cardTwo" id="cardTwo" aria-describedby="inputGroupFileAddon02" accept=".jpg, .jpeg, .png, .svg" (change)="cardTwoChange()">    
                </div>
            </div>
        </div>

        <div mat-dialog-actions layout="row" class="mat-dialog-actions d-flex justify-content-end">
            <button type="button" mat-button mat-dialog-close>Cancelar</button>
            <button type="submit" mat-button class="btn-success" [disabled]="form && !form.valid">OK</button>
        </div>
    </form>
</div>