<div class="mx-auto my-5 w-75 py-1" *ngIf="cards && cards.length > 0">

    <div class="row">

        <div id="flip-card-01" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-01')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-01"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-02" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-02')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-02"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-03" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-03')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-03"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-04" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-04')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-04"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-05" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-05')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-05"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-06" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-06')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-06"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-07" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-07')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-07"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-08" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-08')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-08"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div id="flip-card-09" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-09')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-09"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-10" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-10')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-10"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-11" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-11')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-11"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-12" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-12')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-12"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-13" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-13')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-13"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-14" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-14')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-14"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-15" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-15')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-15"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-16" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-16')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-16"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="row">

        <div id="flip-card-17" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-17')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-17"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-18" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-18')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-18"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-19" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-19')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-19"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-20" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-20')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-20"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-21" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-21')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-21"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-22" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-22')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-22"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-23" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-23')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-23"></div>
                </div>
            </div>
        </div>

        <div id="flip-card-24" class="col flip-card mb-4 mx-auto" (click)="flip('#flip-card-24')">
            <div class="flip-card-inner">
                <div class="flip-card-front">?</div>
                <div class="flip-card-back">
                    <div id="card-24"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="text-center h-100-vh" *ngIf="cards && cards.length <= 0">
    <h1 class="fw-bold">Número de cartas insuficiente para iniciar o jogo!</h1>
</div>