/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fc-col-header-cell-cushion, .fc-col-header-cell-cushion:hover {
    color: #212529;
    text-decoration: none;
}

.fc-daygrid-day-number, .fc-daygrid-day-number:hover {
    color: #212529;
    text-decoration: none;
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
}

.mat-table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    display: table;
    border-collapse: collapse;
    margin: 0px;
}

.mat-row:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.mat-row, .mat-header-row {
    display: table-row;
}

.mat-cell, .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 5px;
    line-break: unset;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
}