<div class="container-fluid p-0" [ngClass]="cards && cards.length == 0 ? 'h-100-vh' : ''">

    <mat-card>
        <mat-card-header>
            <div class="mat-card-header-text my-3">
                <div class="d-flex align-items-center">
                    <div class="w-50 d-inline-block">
                        <h1 class="mb-0 fw-bold">Cartas</h1>
                    </div>
    
                    <div class="w-50 d-inline-block text-end">
                        <button mat-button class="btn-success" (click)="add()">Cadastrar</button>
                    </div>
                </div>
            </div>
        </mat-card-header>

        <mat-card-content class="p-3">

            <div class="d-flex flex-wrap justify-content-center align-items-center" *ngIf="cards && cards.length > 0">
                <div *ngFor="let card of cards">

                    <div class="card m-2">
                        <div class="row p-3">
                            <div class="col">
                                <img [src]="card.cardOne" width="150px" height="200px">
                            </div>
    
                            <div class="col">
                                <img [src]="card.cardTwo" width="150px" height="200px">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button mat-button class="w-100 btn-danger" (click)="delete(card)">Excluir</button>
                            </div>
                        </div>    
                    </div>
                </div>
            </div>

            <div *ngIf="cards && cards.length == 0">
                <div class="text-center">
                    <h1 class="mb-0 fw-bold">Nenhuma carta cadastrada!</h1>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>